.checklist {
  overflow-y: hidden;
  height: 100%;
  max-height: 100%;
  display: block;
}
ul.cardChecklist {
  max-height: 200px;
  overflow-y: scroll;
}

.checklist-input {
  height: 20px !important;
  display: block;
}
.task .done {
  text-decoration: line-through;
}
.add-task {
  margin-top: 10px;

  .add-task-input {
    width: 100%;
  }

}
