.card {
  position: relative;
  z-index: 1;
  background: $white;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid $color_bon_jour_approx;
  border-radius: 3px;
  box-shadow: 0 1px 0 $black_25;
}
.card-to-do {
  @include card-border(blue);
}
.card-in-progress {
  @include card-border(yellow);
}
.card-done {
  @include card-border(green);
}
.card_title {
  font-weight: bold;
  border-bottom: solid 5px transparent;
  cursor: pointer;
  padding-left: 1em;
}

.folder-open {
  @include font-icon("\f07c");
}

.folder-closed {
  @include font-icon("\f07b");
}
