%box-style {
  height: 100%;
  margin: 0;
  padding: 0;
}

%dropdown-animate-fast {
  transition: .2s linear all;
}

%dropdown-animate-slow {
  transition: .5s linear all;
}


%dropdown-style {
  overflow: hidden;
}
