$color_gallery_approx: #eee;
$color_bright_gray_approx: #3b414c;
$color_celeste_approx: #ccc;
$white: #fff;
$color_bon_jour_approx: #e5e5df;
$black_25: rgba(0, 0, 0, 0.25);
$color_alto_approx: #ddd;
$color_sunglo_approx: #d66;

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
