@import "variables";
@import "mixins";
@import "extends";
@import "animations";
@import "../list/list";
@import "../card/card";
@import "checkbox";
@import "../checklist/checklist";

* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}

html {
	@extend %box-style;
}

body {
	@extend %box-style;

	background: $color_gallery_approx;
	font-family: $font_0, $font_1, $font_2, $font_3;
}

#app {
	@extend %box-style;
}

h1 {
	font-weight: 200;
	color: $color_bright_gray_approx;
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.app {
	white-space: nowrap;
	height: 100%;
}
.logo {
  width:40px;
  height: 40px;
}

.fa-trash {
  color: $color_delete;
}
